[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"

[dev-packages]
flake8 = "*"
yapf = "*"
black = "==18.3a1"
isort = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
